cosign.key
_build_*
output
_build-*/**
*_chunkah_*
*_rpm-ostree_*

# Local ISOs, VM disks, generated previews
Artifacts/
ISO/
NextOS-ISO/
NexusOS Test/
artifact-anaconda-iso/
artifact-qcow2/
branding/out/
vm-barbakai/
